<h1>Create a Cocktail</h1>
{{!-- <form action="/cocktail-add" method="POST"> --}}

    <form action="/cocktail-add" method="POST" enctype="multipart/form-data">


        <div>
            <label for="name">Name of your Cocktail</label>
            <input id="name" type="text" name="name">
        </div>
         <div class="flexed-item">
    <select name="main-category" id="main_category" class="select sneak-select">
      <option value="">Choose Alcohol Base</option>
      <option value="">vodka</option>
      <option value="">Whisky</option>
      <option value="">Gin</option>
      <option value="">Rhum</option>
      <option value="">Tequila</option>
      <option value="">Cognac</option>
      <option value="">Cachaça</option>
      <option value="">Bourbon</option>
      <option value="">Armagnac</option>
      <option value="">Calvados</option>
      <option value="">Absinthe</option>
      <option value="">Virgin</option>
      <option value="">Other</option>
    </select>

  </div>
       {{!-- <div>
            <label>Choose your alcohol Type</label>
            <input list="level">
            <datalist id="level">
                <option value="Whisky" />
                <option value="Gin" />
                <option value="Rhum" />
                <option value="Tequila" />
                <option value="Cognac" />
                <option value="Cachaça" />
                <option value="Bourbon" />
                <option value="Armagnac" />
                <option value="Calvados" />
                <option value="Absinthe" />
                <option value="Virgin" />
                <option value="Other" />
            </datalist>
         </div> --}}
        <label for="ingredients">Ingredients</label>
        <input id="ingredients" type="text" name="ingredients">
        </div>
        <div>
            <label for="fun-fact">Funny story about your cocktail</label>
            <input id="fun-fact" type="text" name="funFact">
        </div>
        <div>
            <label for="cocktail-img">Image</label>
            <input id="cocktail-img" type="file" name="image">
        </div>
        <button type="submit">Add a new cocktail</button>

    </form>

    {{!--
</form> --}}



{{!-- <div class="alcohol-level-announcement">
    <label for="alcohol-level">alcohol level</label>
    <input id="alcohol-level" type="text" name="alcoholLevel">
</div> --}}


{{!-- <div class="alcohol-level-announcement">Choose your alcohol level</div>
<div class="alcohol-choice">
    <label for="alcohol-level">Little smile</label>
    <input id="alcohol-level" type="list" name="alcoholLevel">
</div>
<div class="alcohol-choice">
    <label for="alcohol-level">Reach the star</label>
    <input id="alcohol-level" type="radio" name="alcoholLevel">
</div>
<div class="alcohol-choice">
    <label for="alcohol-level">A night you won't remember</label>
    <input id="alcohol-level" type="radio" name="alcoholLevel">
</div> --}}



{{!-- <input type="file" name="avatar" /> --}}