<h1>Create a cococktail</h1>

<form action="/cocktail-add" method="POST">
    <div>
        <label for="cocktail-img">Image</label>
        <input id="cocktail-img" type="file" name="image">
    </div>
    <div>
        <label for="name">name</label>
        <input id="name" type="text" name="name">
    </div>

    <div>
        <div class="alcohol-level-announcement">Choose your alcohol level</div>

        <div class="alcohol-choice">
            <label for="alcohol-level">little smile</label>
            <input id="alcohol-level" type="checkbox" name="alcoholLevel">
        </div>

        <div class="alcohol-choice">
            <label for="alcohol-level">reach the star</label>
            <input id="alcohol-level" type="checkbox" name="alcoholLevel">
        </div>

        <div class="alcohol-choice">
            <label for="alcohol-level">A night you won't remember</label>
            <input id="alcohol-level" type="checkbox" name="alcoholLevel">
        </div>
    </div>
    <div>
        <label for="ingredients">ingredients</label>
        <input id="ingredients" type="text" name="ingredients">
    </div>
    <div>
        <label for="fun-fact">funny story about your cocktail</label>
        <input id="fun-fact" type="text" name="funFact">
    </div>

    <button type="submit">Add a new cocktail</button>
</form>