<h2>Update cocktail</h2>

<form action="/auth/user-edit" method="POST" enctype="multipart/form-data">
    <div>
        <label for="username">user name</label>
        <input id="username" type="text" name="userName" value="{{userName}}">
    </div>

    <div>
        <label for="email">email</label>
        <input id="email" type="text" name="email" value="{{email}}">
    </div>
    <div>
        <label for="profil-pic">Image</label>
        <input id="profil-pic" type="file" name="profilPic" value="{{profilPic}}">
    </div>

    <button type="submit">Update user</button>
</form>