* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
body {
    padding: 20px;
}

h2 {
    text-align: center;
    background-color: black;
}

#container {
    display: flex;
    /* justify-content: space-between  ; */
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 300px; */
    

}

img {
    width: 400px;
    height: 300px;
}

#info-cocktail {
    width: 400px;
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
}
.see-details {
    text-decoration: none;
    color: violet;
}

/* btc-form */
.round a {
    color: crimson;
}

.round .btc-form {
    display: inline-block;
    width: 130px;
    /* height: 40px;
    line-height: 40px;
    margin: 20px; */
    position: relative;
    overflow: hidden;
    border: 2px solid crimson;
    transition: color .5s;
}

.round .btc-form:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: crimson;
    /* height: 150px;
    width: 200px; */
    border-radius: 50%;
}

.round .btc-form:hover {
    color: #fff;
}

.round .btc-form:nth-child(1):before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.round .btc-form:nth-child(1):hover:before {
    top: -30px;
    left: -30px;
}

