<section id="cat">
    <h1 style="color: white">About us</h1>
    <div>
        <p style="color: white">Tech'ila is the new trendy online bar <br> for tech lovers and cocktail enthusiasts</p>
        <br>
        <p style="color: white">Join us and share your new hot cocktail <br> ideas!</p>
    </div>
</section>