<section id="cat">
    <h1>About us</h1>
    <div>
        <p>Tech'ila is the new trendy online bar for tech lovers and cocktail enthusiasts</p> <br>
        <p>Join us and share your new hot cocktail ideas!</p>
    </div>
</section>