<h1>HOME</h1>
<p>Welcome to your favorite bar</p>

<h2>This is home page</h2> 

<li><a href="/register">Sign up!!</a></li> 
<li><a href="/login">Login</a></li> 
<li><a href="/logout">Logout</a></li> 
