<section id="home">

    <h1 style="color: white;">HOME</h1>
    <p style="color: white;">Welcome to your favorite bar</p>

    <h2 style="color: white;">This is home page</h2>

    <li><a href="/auth/signin">Sign in</a></li>
    <li><a href="/auth/signup">Sign up!!</a></li>
</section>
{{!-- <div>
  <section class="products-wrapper">
    <div class="products-infos">
      <h4 class="products-title">
        {{#compare category "collection" operator="==="}}
        Whole
        {{/compare}}
        {{#compare category "collection" operator="!="}}
        {{category}}
        {{/compare}}
        collection <span id="products_count" class="products-count">({{cocktails.length}})</span>
      </h4>
      <p class="products-subtitle">Prepare for your miles with the latest styles and colors of women’s running shoes.
        Take advantage of signature a footwear technologies including Zoom, Flyknite, and find the
        pairs running shoes that align with your running philosophy.</p>
    </div>
    {{#unless cocktails}}
    <p>Sorry, no cocktails yet !</p>
    {{/unless}}
    <div id="products_grid" class="products-grid flexed-item">
      {{#each cocktails}}
      {{> sneaker_mini }}
      {{/each}}
    </div>
  </section>
</div> --}}