<section id="home">
<h1 style="color: white;">HOME</h1>
<p style="color: white;">Welcome to your favorite bar</p>

<h2 style="color: white;">This is home page</h2> 

<li><a href="/register">Sign up!!</a></li> 
<li><a href="/login">Login</a></li> 
<li><a href="/logout">Logout</a></li> 
</section>