<section id="home">

    <h1 style="color: white;">Welcome to your favorite bar</h1>

     <li><a href="/auth/signin">Ready for another drink? sign in</a></li>
    <li><a href="/auth/signup">Ready to drink with us? sign up</a></li>
</section>
