<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../stylesheets/style.css" />
  {{#if css}}
  <link rel="stylesheet" href="../stylesheets/{{css}}.css">
  {{/if}}


</head>

<body>
  <div class="nav">
    <ul>
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/bar" class="nav-link"><em>Bar</em></a></li>
      <li><a href="/about" class="nav-link">About Us</a></li>
      {{!-- {{#if isLoggedIn}} --}}
      <li><a href="/cocktail-add" class="nav-link">New cocktail</a></li>
      <li><a href="/auth/manage" class="nav-link">My bar</a></li>
      {{!-- {{/if}} --}}
      <li><a href="/auth/signin" class="nav-link">Sign in</a></li>
      <li><a href="/auth/signup" class="nav-link">Sign up</a></li>



    </ul>
  </div>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>